@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Bangers&display=swap');
@custom-variant dark (&:where(.dark, .dark *));


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --background-primary: hsl(323, 100%, 3%);
    --background-secondary: hsla(0, 93%, 11%, 0.3);
    --color-primary: hsla(324, 75%, 58%, 0.3);
}
.xs{
    @media screen and (min-width:480px)  {
        display: flex;
    }
}
@layer utilities {
    .bg-primary {
        background-color: var(--background-primary);
    }
    .bg-secondary {
        background: var(--background-secondary);
    }
    .linear-primary {
        background-image: linear-gradient(to right, hotpink, mediumpurple);
    }
    .linear-secondary {
        background-image: linear-gradient(to right, hotpink, mediumpurple,lightskyblue);
    }
    .bg-opacity{
        background-color: rgba(163, 34, 168, 0.4);
    }
    .border-color{
        border:2px solid  var(--color-primary);
    }
    .linear{
        background-image: linear-gradient(to right, darkmagenta, mediumpurple);
    }
    .border-border{
        border:1px solid  var(--color-primary);
    }
}
input{
    @apply w-full border-2 text-purple-300  font-bold border-[var(--color-primary)] placeholder:text-lg max-w-150 rounded-4xl outline-0   bg-[var(--bg-primary)]
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
legend{

}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100dvh;
    width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
::-webkit-scrollbar{
    display: none;
}
button {
  font-family: inherit;
  cursor: pointer;
    outline: none;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
}

#app {
  text-align: center;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;

}
label{
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

/*.hover-group:hover div:hover img{*/
/*    transform: scale(1.17);*/
/*    transition: transform 0.3s ease-out;*/
/*    border: 4px solid var(--color-primary);*/
/*    overflow: hidden;*/
/*    background: linear-gradient(*/
/*            to right,*/
/*            black 0%,*/
/*    black 50%,*/
/*    black 75%,*/
/*    black 80%,*/
/*    black 90%,*/
/*    black 100%*/

/*    );*/
/*}*/